
NET "clk100" LOC = P56;


CONFIG VCCAUX  = 3.3;


NET "TX0_TMDS[3]" IOSTANDARD = TMDS_33;
NET "TX0_TMDS[2]" IOSTANDARD = TMDS_33;
NET "TX0_TMDS[1]" IOSTANDARD = TMDS_33;
NET "TX0_TMDS[0]" IOSTANDARD = TMDS_33;



NET "RX0_TMDS[3]" IOSTANDARD = TMDS_33;
NET "RX0_TMDS[2]" IOSTANDARD = TMDS_33;
NET "RX0_TMDS[1]" IOSTANDARD = TMDS_33;
NET "RX0_TMDS[0]" IOSTANDARD = TMDS_33;




NET "DDC_SCL" IOSTANDARD = I2C;
NET "DDC_SDA" IOSTANDARD = I2C;

NET "DDC_SCL" CLOCK_DEDICATED_ROUTE = FALSE;


NET "LED[7]" IOSTANDARD = LVCMOS33;
NET "LED[6]" IOSTANDARD = LVCMOS33;
NET "LED[5]" IOSTANDARD = LVCMOS33;
NET "LED[4]" IOSTANDARD = LVCMOS33;
NET "LED[3]" IOSTANDARD = LVCMOS33;
NET "LED[2]" IOSTANDARD = LVCMOS33;
NET "LED[1]" IOSTANDARD = LVCMOS33;
NET "LED[0]" IOSTANDARD = LVCMOS33;


NET "clk100" IOSTANDARD = LVTTL;


NET "DDC_SCL" LOC = P112;
NET "DDC_SDA" LOC = P111;




NET "TX0_TMDS[2]" LOC = P138;
NET "TX0_TMDS[1]" LOC = P140;
NET "TX0_TMDS[0]" LOC = P142;
NET "TX0_TMDS[3]" LOC = P144;
NET "RX0_TMDS[2]" LOC = P115;
NET "RX0_TMDS[1]" LOC = P117;
NET "RX0_TMDS[0]" LOC = P119;
NET "RX0_TMDS[3]" LOC = P121;

#refer to page 93 of UG382
INST "dvi_rx0/ioclk_buf" LOC = BUFPLL_X1Y5;
NET "RX0_TMDS[3]" CLOCK_DEDICATED_ROUTE = FALSE;


NET "sync_in_1" IOSTANDARD = LVTTL;
NET "sync_in_2" IOSTANDARD = LVTTL;
NET "sync_out_1" IOSTANDARD = LVTTL;
NET "sync_out_2" IOSTANDARD = LVTTL;


NET "LED[7]" LOC = P134;
NET "LED[6]" LOC = P133;
NET "LED[5]" LOC = P132;
NET "LED[4]" LOC = P131;
NET "LED[3]" LOC = P127;
NET "LED[2]" LOC = P126;
NET "LED[1]" LOC = P124;
NET "LED[0]" LOC = P123;


NET "sync_in_1" LOC = P16;
NET "sync_in_2" LOC = P21;
NET "sync_out_1" LOC = P17;
NET "sync_out_2" LOC = P22;


NET "CLK_EXT" LOC = P51;


NET "PO_SCL" IOSTANDARD = I2C;
NET "PO_SDA" IOSTANDARD = I2C;


NET "PO_SCL" LOC = P23;
NET "PO_SDA" LOC = P24;


NET "CLK_EXT" CLOCK_DEDICATED_ROUTE = FALSE;
NET "clk100" CLOCK_DEDICATED_ROUTE = FALSE;
NET "CLK_EXT" IOSTANDARD = LVTTL;


NET "sync_in_1B2" IOSTANDARD = LVTTL;
NET "sync_in_2B2" IOSTANDARD = LVTTL;
NET "sync_out_1B2" IOSTANDARD = LVTTL;
NET "sync_out_2B2" IOSTANDARD = LVTTL;


NET "sync_in_1B2" LOC = P11;
NET "sync_in_2B2" LOC = P14;
NET "sync_out_1B2" LOC = P12;
NET "sync_out_2B2" LOC = P15;


NET "CCLK" IOSTANDARD = LVTTL;


NET "CCLK" LOC = P70;
NET "RST_N" LOC = P38;


NET "RST_N" IOSTANDARD = LVTTL;


NET "AVR_RX_BUSY" LOC = P39;


NET "AVR_RX_BUSY" IOSTANDARD = LVTTL;


NET "UART_RX" LOC = P55;


NET "UART_RX" IOSTANDARD = LVTTL;
NET "UART_TX" IOSTANDARD = LVTTL;


NET "UART_TX" LOC = P59;


NET "SPI_MISO" LOC = P45;


NET "SPI_MISO" IOSTANDARD = LVTTL;


NET "SPI_MOSI" LOC = P44;


NET "SPI_MOSI" IOSTANDARD = LVTTL;


NET "SPI_SCK" LOC = P43;


NET "SPI_SCK" IOSTANDARD = LVTTL;
NET "SPI_SS" IOSTANDARD = LVTTL;


NET "SPI_SS" LOC = P48;






