//! **************************************************************************
// Written by: Map P.68d on Wed Oct 24 12:50:07 2018
//! **************************************************************************

SCHEMATIC START;
CONFIG VCCAUX = "3.3";
COMP "UART_RX" LOCATE = SITE "P55" LEVEL 1;
COMP "UART_TX" LOCATE = SITE "P59" LEVEL 1;
COMP "SPI_SCK" LOCATE = SITE "P43" LEVEL 1;
COMP "SPI_MISO" LOCATE = SITE "P45" LEVEL 1;
COMP "SPI_MOSI" LOCATE = SITE "P44" LEVEL 1;
COMP "CCLK" LOCATE = SITE "P70" LEVEL 1;
COMP "RST_N" LOCATE = SITE "P38" LEVEL 1;
COMP "sync_in_1B2" LOCATE = SITE "P11" LEVEL 1;
COMP "sync_in_2B2" LOCATE = SITE "P14" LEVEL 1;
COMP "RX0_TMDS<0>" LOCATE = SITE "P119" LEVEL 1;
COMP "RX0_TMDS<1>" LOCATE = SITE "P117" LEVEL 1;
COMP "RX0_TMDS<2>" LOCATE = SITE "P115" LEVEL 1;
COMP "RX0_TMDS<3>" LOCATE = SITE "P121" LEVEL 1;
PIN RX0_TMDS<3>_pin<0> = BEL "RX0_TMDS<3>" PINNAME PAD;
PIN "RX0_TMDS<3>_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "AVR_RX_BUSY" LOCATE = SITE "P39" LEVEL 1;
COMP "LED<0>" LOCATE = SITE "P123" LEVEL 1;
COMP "LED<1>" LOCATE = SITE "P124" LEVEL 1;
COMP "LED<2>" LOCATE = SITE "P126" LEVEL 1;
COMP "LED<3>" LOCATE = SITE "P127" LEVEL 1;
COMP "LED<4>" LOCATE = SITE "P131" LEVEL 1;
COMP "LED<5>" LOCATE = SITE "P132" LEVEL 1;
COMP "LED<6>" LOCATE = SITE "P133" LEVEL 1;
COMP "LED<7>" LOCATE = SITE "P134" LEVEL 1;
COMP "PO_SDA" LOCATE = SITE "P24" LEVEL 1;
COMP "PO_SCL" LOCATE = SITE "P23" LEVEL 1;
COMP "SPI_SS" LOCATE = SITE "P48" LEVEL 1;
COMP "TX0_TMDS<0>" LOCATE = SITE "P142" LEVEL 1;
COMP "TX0_TMDS<1>" LOCATE = SITE "P140" LEVEL 1;
COMP "TX0_TMDS<2>" LOCATE = SITE "P138" LEVEL 1;
COMP "TX0_TMDS<3>" LOCATE = SITE "P144" LEVEL 1;
COMP "clk100" LOCATE = SITE "P56" LEVEL 1;
PIN clk100_pin<0> = BEL "clk100" PINNAME PAD;
PIN "clk100_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "sync_out_1" LOCATE = SITE "P17" LEVEL 1;
COMP "sync_out_2" LOCATE = SITE "P22" LEVEL 1;
COMP "sync_out_1B2" LOCATE = SITE "P12" LEVEL 1;
COMP "sync_out_2B2" LOCATE = SITE "P15" LEVEL 1;
COMP "sync_in_1" LOCATE = SITE "P16" LEVEL 1;
COMP "sync_in_2" LOCATE = SITE "P21" LEVEL 1;
COMP "DDC_SDA" LOCATE = SITE "P111" LEVEL 1;
COMP "DDC_SCL" LOCATE = SITE "P112" LEVEL 1;
PIN DDC_SCL_pin<0> = BEL "DDC_SCL" PINNAME PAD;
PIN "DDC_SCL_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "CLK_EXT" LOCATE = SITE "P51" LEVEL 1;
PIN CLK_EXT_pin<0> = BEL "CLK_EXT" PINNAME PAD;
PIN "CLK_EXT_pin<0>" CLOCK_DEDICATED_ROUTE = FALSE;
COMP "dvi_rx0/ioclk_buf" LOCATE = SITE "BUFPLL_X1Y5" LEVEL 1;
SCHEMATIC END;

